
  .box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
    
    justify-content: center;
  
    border: blueviolet;
    border-style: solid;
  
    margin: 0.2em;
    padding: 0.2em;
  }
  