
  .members {
    display: flex;
    width: 100%;
    border-top: blueviolet;
    border-top-style: solid;
  
    font-size: 1.2rem;
    
    justify-content: center;
    
    max-height: 0;
    opacity: 0;
    transition: max-height 0.4s, opacity 0.2s;
  }
  
  .members.active {
    max-height: 100vh;
    opacity: 1;
    transition: max-height 1s, opacity 0.4s;
  }
  
  .list-members{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
  }
  
  .list-members h4 {
    margin: 0;
    border-bottom-style: solid;
    text-align: center;
  }
  
  .list-members h5 {
    text-align: center;
    margin: 0.25em;
  }
  
  .list-members h6 {
    text-align: center;
    margin: 0.25em;
  }
  