.App{
  display: flex;
  border: black;
  border-style:dotted;
  flex-wrap: wrap;
}

.header{
  margin: 0%;
  width: 100%;
  border: black;
  border-style:dotted;
  text-align: center;
}

.main{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  border: black;
  border-style:dotted;
}

.box {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
  
  justify-content: center;

  border: blueviolet;
  border-style: solid;

  margin: 0.2em;
  padding: 0.2em;
}

.campaign {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  color: black;
}

.members {
  display: flex;
  width: 100%;
  border-top: blueviolet;
  border-top-style: solid;

  font-size: 1.2rem;
  
  justify-content: center;
  
  max-height: 0;
  opacity: 0;
  transition: max-height 0.4s, opacity 0.2s;
}

.members.active {
  max-height: 100vh;
  opacity: 1;
  transition: max-height 1s, opacity 0.4s;
}

.list-members{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.list-members h4 {
  margin: 0;
  border-bottom-style: solid;
  text-align: center;
}

.list-members h5 {
  text-align: center;
  margin: 0.25em;
}

.list-members h6 {
  text-align: center;
  margin: 0.25em;
}

.footer{
  display: flex;
  margin: 0%;
  width: 100%;
  text-align: center;
}

.contact-info{
  display: flex;
  width: 100%;
  max-height: 60px;
  justify-content: center;
}

.codecademy{
  display: flex;
  margin: 1em;
}

.linkedin{
  display: flex;
  margin: 1em;
}

.contact-info a {
  max-height: 30px;
  max-width: 30px;
}

.footer img{
  max-width: 100%;
  height: auto;
  display: block;
}