.App {
  display: flex;
  /* border: black;
  border-style:dotted; */
  flex-wrap: wrap;
  background-image: url('./resources/magicBck2.png');
  background-repeat: no-repeat;
  background-size: cover;
}